<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="robot_controller" filename="libgazebo_ros_planar_move.so">
            <ros>
                <namespace>/diff_drive_controller</namespace>
                <remapping>cmd_vel:=cmd_vel_unstamped</remapping>
            </ros>

            <odometry_frame>odom</odometry_frame>
            <odometry_rate>100</odometry_rate>
            <robot_base_frame>base_link</robot_base_frame>
            <publish_tf>true</publish_tf> 
        </plugin>
    </gazebo>

</robot>